<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="siteRSSDAO" class="daos.SiteRSSDAO" singleton="false">
		<property name="dao">
			<bean name="GenericJPADAO" class="daos.GenericJPADAO">
				<constructor-arg value="noticias.SiteRSS" />
			</bean>
		</property>
	</bean>
	
	<bean id="usuarioDAO" class="daos.UsuarioDAO" singleton="false">
		<property name="dao">
			<bean name="GenericJPADAO" class="daos.GenericJPADAO">
				<constructor-arg value="beans.Usuario" />
			</bean>
		</property>
	</bean>

	<!-- Actions -->
	<bean id="index" class="actions.IndexAction" singleton="false" />
	<bean id="usuario" class="actions.UsuarioAction" singleton="false" />

</beans>

