div.demo {
	height: 350px;
	border: 3px solid #0BB427;
	padding: 10px;
	position: relative;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
}

#rssmarquee a {
	text-decoration: none;
}

#rssmarquee a:hover {
	color: red;
	background-color: #FFFFFF;
}

div.original {
	border: 3px solid #B40400;
	padding: 10px;
}

.pointer {
	cursor: pointer;
}

code {
	padding: 3px;
	background-color: #eee;
}

#divtitulo {
	font-weight: bold;
	font-size: large;
	width: 300px;
	text-align: center;
	padding-bottom: 10px;
}

.newsTitle {
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
}

.newsBody {
	font-size: 11px;
	font-family: Arial;
}